<div>
  <br>
  <h4 mat-dialog-title class="text-center"><strong>{{texto}}</strong></h4>
  <mat-dialog-content class="mat-typography">
      <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 700px; padding: 1rem;">
          <form [formGroup]="agregar">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                  <input matInput formControlName="nombre" type="text" placeholder="Descripcion" name="nombre" maxlength="50" minlength="3" pattern="[A-Za-zñÑ ]{3,50}">
                <mat-error *ngIf="nombre?.invalid">{{error_nombre()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido" type="text" placeholder="Descripcion" name="apellido" maxlength="50" minlength="3" pattern="[A-Za-zñÑ ]{3,50}">
              <mat-error *ngIf="apellido?.invalid">{{error_apellido()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Celular</mat-label>
                <input matInput formControlName="celular" type="text" placeholder="Descripcion" name="celular" maxlength="15" minlength="6" pattern="[+0-9]{6,15}">
              <mat-error *ngIf="celular?.invalid">{{error_celular()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Empresa</mat-label>
                <input matInput formControlName="empresa" type="text" placeholder="Descripcion" name="empresa" maxlength="50" minlength="3" pattern="[A-Za-zñÑ ]{3,50}">
              <mat-error *ngIf="empresa?.invalid">{{error_empresa()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Observacion</mat-label>
                <input matInput formControlName="observacion" type="text" placeholder="Descripcion" name="observacion" maxlength="50" minlength="3" pattern="[A-Za-zñÑ ]{3,50}">
              <mat-error *ngIf="observacion?.invalid">{{error_observacion()}}</mat-error>
            </mat-form-field>
        </form>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
      <button [mat-dialog-close]="agregar" class="btn btn-danger" [disabled]="agregar.invalid" (click)="adicionar()">Guardar</button>
  </div>
</div>
