<div class="row">
  <form [formGroup]="buscar">
    <mat-form-field>
      <mat-label>Producto</mat-label>
      <input matInput formControlName="producto" placeholder="Producto">
    </mat-form-field>
    <button class="btn btn-primary" [disabled]="buscar.invalid" (click)="buscarProducto()">Buscar</button>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Sucursal</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productos">
      <td>{{item.categoriaGrupo}} {{item.descripcion}}</td>
      <td><b># {{item.numero}}</b> {{item.direccion}}</td>
      <td>{{item.stock}}</td>
      <td>{{item.precio_venta}}</td>
    </tr>
  </tbody>

</table>
