h5{
  font-size: 20px;
}
h6{
  font-size: 15px;
}
.row{
  width: 100%;
}
mat-form-field{
  width: 100%;
}
.example-viewport {
  height: 500px;
  width: 100%;
  /* border: 1px solid black; */
  /* background-color: black; */
}

.example-item {
  padding-top: 15px;
  height: 50px;
}

.example-item:hover {
  height: 50px;
  cursor: pointer;
  background-color: #195085;
  color: white;
}
.activo{
  background-color: #195085;
  color: white;
}
img{
  opacity: 0.6;
}
ng::deep .example-item:active{
  background-color: #195085;
  color: white;
}
.card-img-overlay{
  padding-top: 60px;
}
