<br>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
        <!-- <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport bg-body-tertiary text-white" data-bs-theme="dark"> -->
      <mat-form-field appearance="fill" *ngIf="user.rol==1">
        <mat-label>SUCURSALES</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of sucursales" [value]="item.id" (click)="mostrarCategorias(item)"># {{item.numero}} <strong style="font-size: 10px;">{{item.direccion|uppercase}}</strong> </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="user.rol>1">
        <h6><strong>Sucursal: #</strong>{{sucursal.numero}}</h6>
        <h6><strong>Direccion: </strong>{{sucursal.direccion}}</h6>
      </div>
      <hr *ngIf="sucursal.id!=0">
      <h6 *ngIf="sucursal.id!=0" class="text-center"><strong>CATEGORIAS</strong></h6>
      <hr *ngIf="sucursal.id!=0">
        <div *cdkVirtualFor="let item of categorias" class="example-item" [ngClass]="{'activo':isactive(item.id)==true}" (click)="mostrarProductos(item)">
          {{item.grupo|uppercase}}
        </div>
      </cdk-virtual-scroll-viewport>

    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
      <h5 class="text-center">PRODUCTOS</h5>
      <div class="row" *ngIf="categoria.id!=0">
        <button class="btn btn-outline-primary" (click)="agregar()"><fa-icon [icon]="faPlus"></fa-icon> Nuevo Producto</button>
      </div>
      <hr *ngIf="categoria.id!=0">
      <hr *ngIf="sucursal.id!=0">
      <div class="row" *ngIf="categoria.id!=0">
        <div class="col-xl-3 col-lg-3 col-sm-6" *ngFor="let item of productos;let i=index">

          <div class="card">
            <div class="card bg-light">
              <div class="card-header text-white text-center fw-bold bg-primary">{{categoria.codigo}} {{ item.codigo.toString().padStart(5, '0') }}</div>
              <div style="text-align: center;">
                <img appImgRota src="{{llenar_imagen('producto/imagen/'+item.imagen)}}" alt="Foto" width="100%" height="100px">
                </div>
              <div class="card-body">
                <table style="width: 100%;">
                  <tr><td class="text-center fw-bold" colspan="2">{{item.descripcion}}</td></tr>
                  <tr>
                    <td><strong>Compra:</strong></td>
                    <td class="text-end">{{item.precio_compra|number:'2.2'}}</td>
                  </tr>
                  <tr>
                    <td><strong>Venta:</strong></td>
                    <td class="text-end">{{item.precio_venta|number:'2.2'}}</td>
                  </tr>
                  <tr>
                    <td><strong>Reg. Minima:</strong></td>
                    <td class="text-end">{{item.cantidad_minima}}</td>
                  </tr>
                  <tr><td><strong>Stock:</strong></td>
                    <td class="text-end">{{item.stock}}</td>
                    </tr>
                  </table>
                <div class="card-text"style="text-align:right">
                  <div class="btn-group" role="group" >
                    <a (click)="eliminar(item)" class="btn btn-danger btn-sm">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </a>
                    <a class="btn btn-success btn-sm" (click)="actualizar(item,i)">
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
