<div>
  <br>
  <h4 mat-dialog-title class="text-center"><strong>{{texto}}</strong></h4>
  <mat-dialog-content class="mat-typography">
      <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 700px; padding: 1rem;">
          <form [formGroup]="agregar">
            <mat-form-field appearance="fill">
              <mat-label>Producto</mat-label>
              <mat-select matNativeControl formControlName="producto_id">
                  <mat-option [value]=null >Ninguno</mat-option>
                  <mat-option [value]="item.id" *ngFor="let item of productos" (click)="setear(item)">{{item.categoriaGrupo}} {{item.descripcion}} => {{item.precio_compra}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Producto</mat-label>
                  <input matInput formControlName="nuevo" type="text" placeholder="Descripcion" name="nuevo" maxlength="50" minlength="3" pattern="[A-Za-zñÑ ]{3,50}">
                <mat-error *ngIf="nuevo?.invalid">{{error_nuevo()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Precio</mat-label>
                <input matInput formControlName="precio" type="number" placeholder="Precio" name="precio">
              <mat-error *ngIf="precio?.invalid">{{error_precio()}}</mat-error>
            </mat-form-field>
          </form>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
      <button [mat-dialog-close]="agregar" class="btn btn-danger" [disabled]="agregar.invalid" (click)="adicionar()">Guardar</button>
  </div>
</div>
