<br>
<h5 class="text-center">CLIENTES</h5>
<br>
<div class="row">
    <div class="col-lg-2 offset-1">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary"(click)="agregar()"><fa-icon [icon]="faPlus"></fa-icon>Nuevo Cliente</button>
        </div>
    </div>
    <div class="col-lg-8">
        <!-- <input type="search" class="form-control" placeholder="Buscar" name="filterPost"  [(ngModel)]="filterpost"  maxlength="20"> -->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-6 offset-3">

        <table class="table table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">CI/NIT</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Direccion</th>
                <th scope="col" style="text-align: center;">Opcion</th>
            </tr>
            </thead>
        <tbody>
            <tr *ngFor="let c of clientes;let i =index">
              <!-- <tr *ngFor="let c of clientes|filterC:filterpost;let i =index"> -->
            <td>{{i + 1}}</td>
            <td>{{c.nit}}</td>
            <td>{{c.nombre}}</td>
            <td>{{c.celular}}</td>
            <td>{{c.direccion}}</td>
            <td style="text-align: center;">
                <div class="btn-group" role="group" >
                <button type="button" class="btn btn-success btn-sm" (click)="actualizar(c)">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button href="" (click)="eliminar(c)" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                </div>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>


