<br>
<h5 class="text-center">PRODUCTOS</h5>
<br>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>SUCURSALES</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of sucursales" [value]="item.id" (click)="mostrarCategorias(item)"># {{item.numero}} <strong style="font-size: 10px;">{{item.direccion|uppercase}}</strong> </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>CATEGORIAS</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of categorias" [value]="item.id" (click)="mostrarProductos(item)"><strong>{{item.grupo|uppercase}}</strong> </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="card bg-light mb-3" *ngIf="sucursal.id!=0">
        <div class="card-header">
          <img src="{{llenar_imagen('sucursal/imagen/'+sucursal.imagen)}}" width="100%" height="150px">
        </div>
        <div class="card-body" style="text-align: justify;">
          <p class="card-text">Sucursal: #{{sucursal.numero}}</p>
          <p class="card-text">Direccion: {{sucursal.direccion}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
      <div class="row" *ngIf="categoria.id!=0">
        <button class="btn btn-outline-primary" (click)="agregar()"><fa-icon [icon]="faPlus"></fa-icon> Nuevo Producto</button>
      </div>
      <hr *ngIf="categoria.id!=0">
      <!-- <div class="row" *ngIf="categorias">
        <input type="search" class="form-control" placeholder="Buscar..." name="filterPost"  [(ngModel)]="filterpost"  maxlength="20">
      </div> -->
      <hr *ngIf="sucursal.id!=0">
      <div class="row" *ngIf="categoria.id!=0">
        <div class="col-xl-3 col-lg-3 col-sm-6" *ngFor="let item of productos">
          <div class="card">
            <div class="card bg-light">
              <div class="card-header text-white text-center fw-bold" style="background-color: #070c57;">COD: {{item.codigo}}</div>
              <div style="text-align: center;">
                <img appImgRota src="{{llenar_imagen('producto/imagen/'+item.imagen)}}" alt="Foto" width="100%" height="100px">
                </div>
              <div class="card-body">
                <p class="card-text text-center fw-bold"> {{item.descripcion}}</p>
                <!-- <p class="card-text "> -->
                <table style="width: 100%;">
                  <tr>
                    <td><strong>Precio Adquirido:</strong></td>
                    <td class="text-end">{{item.precio_compra|number:'2.2'}}</td>
                  </tr>
                  <tr>
                    <td><strong>Precio Venta:</strong></td>
                    <td class="text-end">{{item.precio_venta|number:'2.2'}}</td>
                  </tr>
                  <tr>
                    <td><strong>Cantidad Minima:</strong></td>
                    <td class="text-end">{{item.cantidad_minima}}</td>
                  </tr>
                  <tr><td><strong>Stock:</strong></td>
                    <td class="text-end">{{item.stock}}</td>
                    </tr>
                  </table>
                <!-- </p> -->
                <div class="card-text"style="text-align:right">
                  <div class="btn-group" role="group" >
                    <a (click)="eliminar(item)" class="btn btn-danger btn-sm">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </a>
                    <a class="btn btn-success btn-sm" (click)="actualizar(item)">
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
