<div class="row">
  <div class="col-xl-10 col-lg-9 col-sm-12" style="width: 100%;">
    <br>
    <div class="row">
      <h5 class="text-center">INVENTARIO</h5>
      <div class="col-3 offset-1">
        <mat-form-field appearance="fill" style="width: 80%;" *ngIf="user.rol==1">
          <mat-label>SUCURSALES</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of sucursales" [value]="item.id" (click)="mostrarProductos(item)"># {{item.numero}} <strong style="font-size: 10px;">{{item.direccion|uppercase}}</strong> </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-7 text-end">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td class="fw-bold">
                CAPITAL: <span class="text-success">{{capital()|number:'2.2'}}[Bs]</span>
              </td>
              <td>
                <button type="button" class="btn btn-outline-danger text-end" (click)="pdf()" *ngIf="sucursal.id!=0"><fa-icon [icon]="faFilePdf"></fa-icon>Descargar PDF</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <hr>
    </div>
      <div *ngFor="let item of productos;let i = index">
        <div class="row">
          <div class="col-10 offset-1">
          <h3><span class="btn btn-sm btn-primary" *ngIf="item.productos.length>0">
            {{item.categoria}} <span class="badge text-bg-warning">{{item.productos.length}}</span>
          </span></h3>
          <table class="table table-bordered table-responsive" *ngIf="item.productos.length>0">
              <thead class="table-dark text-center">
                <tr>
                  <th class="col-md-1"># <fa-icon [icon]="faLongArrowAltRight"></fa-icon> [Codigo]</th>
                  <th class="col-md-3">Descripcion</th>
                  <th class="col-md-1">Imagen</th>
                  <th class="col-md-2">Almacen</th>
                  <th class="col-md-1">Compra [Bs]</th>
                  <th class="col-md-1">Venta [Bs]</th>
                  <th class="col-md-1">Utilidad [Bs]</th>
              </tr>
              </thead>
            <tbody>
              <tr *ngFor="let itemP of item.productos; let j =index" class="text-end align-middle">
                <td class="col-md-1 text-center">
                  {{j + 1}} <fa-icon [icon]="faLongArrowAltRight"></fa-icon> [{{itemP.codigo}}]
                </td>
                <td class="col-md-3 text-start">
                  {{itemP.categoriaGrupo}} {{itemP.descripcion}}
                </td>
                <td class="col-md-1 text-center">
                  <img appImgRota src="{{llenar_imagen(itemP.imagen)}}">
                </td>
                <td class="col-md-1 text-center">
                  <span
                    class="prueba badge"
                    [ngClass]="{
                      'text-bg-warning':alerta(itemP)==0,
                      'text-bg-success':alerta(itemP)==1,
                      'text-bg-danger':alerta(itemP)==-1
                    }">
                  Stock: {{itemP.stock}}
                  </span>
                  <button style="border: 0; text-align: center;font-size: 10px;" (click)="modificar(itemP,1,i,j)"><mat-icon style="color: green">add_circle</mat-icon></button>
                  <button style="border: 0; text-align: center;font-size: 10px;" [routerLink]="['/dashboard/almacen/producto/verlog/', itemP.id]"><mat-icon style="color: blue">remove_red_eye</mat-icon></button>

                  <br>
                  <span class="azul">
                    <strong>Req. Minimo: {{itemP.cantidad_minima}}</strong>
                  </span>
                </td>
                <td class="col-md-1"
                  (click)="modificar(itemP,2,i,j)"
                >
                  <span class="azul fw-bold prueba">P.U.: {{itemP.precio_compra|number:'2.2'}}</span> <br>
                  <span class="azul fw-bold">Total</span>: {{itemP.precio_compra*itemP.stock|number:'2.2'}}</td>
                <td class="col-md-1"
                  (click)="modificar(itemP,3,i,j)"
                >
                <span class="azul fw-bold prueba">P.U.: {{itemP.precio_venta|number:'2.2'}}</span> <br>
                <span class="azul fw-bold">Total</span>: {{itemP.precio_venta*itemP.stock|number:'2.2'}}
              </td>
                <td class="text-success fw-bold">
                  {{(itemP.precio_venta-itemP.precio_compra)|number:'2.2'}}
                </td>
              </tr>
              <tr class="text-end table-success fw-bold">
                <td class="text-start" colspan="4">TOTAL</td>
                <td>{{suma(item.productos,1)|number:'2.2'}}</td>
                <td>{{suma(item.productos,2)|number:'2.2'}}</td>
                <td>{{(suma(item.productos,2)-suma(item.productos,1))|number:'2.2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
  </div>
</div>
