<div>
  <br>
  <h4 mat-dialog-title class="text-center"><strong>{{texto}}</strong></h4>
  <mat-dialog-content class="mat-typography">
      <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 700px; padding: 1rem;">
          <form [formGroup]="agregar">
            <mat-form-field appearance="fill">
                <mat-label>Numero</mat-label>
                  <input matInput formControlName="numero" type="number" placeholder="numero" name="numero">
                <mat-error *ngIf="numero?.invalid">{{error_numero()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="direccion" type="text" placeholder="direccion" name="direccion" maxlength="50" minlength="3" pattern="[A-Za-z .#0-9ñÑ\/]{3,50}">
                <mat-error *ngIf="direccion?.invalid">{{error_direccion()}}</mat-error>
            </mat-form-field>
            <p>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Imagen</mat-label>
                  <input matInput value={{name}}/>
                  <input
                    type="file"
                    id="fileInput"
                    name="fileInput"
                    accept="image/*"
                    (change)="cargarImagen($event)"
                    formControlName="imagen"
                    />
                <!-- <mat-icon matSuffix>image</mat-icon> -->
              </mat-form-field>
            </p>
          </form>
          <div style="text-align: center; width: 100%;">
              <img *ngIf="previsualizacion" height="100px" width="100px" [src]="previsualizacion" alt="">
           </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
      <button [mat-dialog-close]="agregar" class="btn btn-danger" [disabled]="agregar.invalid" (click)="nuevo()">Agregar</button>
  </div>
</div>
